USE [master]
GO
/****** Object:  Database [T1_Stats]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE DATABASE [T1_Stats]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T1_Stats', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\T1_Stats.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T1_Stats_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\T1_Stats_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T1_Stats].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T1_Stats]
GO
/****** Object:  Table [dbo].[bans]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bans](
	[id_ban] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[team_id] [int] NOT NULL,
	[champion_id] [int] NOT NULL,
	[ban_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[champions]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[champions](
	[id_champion] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[image_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_champion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_players]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_players](
	[id_game_player] [int] IDENTITY(1,1) NOT NULL,
	[game_team_id] [int] NOT NULL,
	[player_id] [int] NOT NULL,
	[champion_id] [int] NOT NULL,
	[pick_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_game_player] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_game_team_player] UNIQUE NONCLUSTERED 
(
	[game_team_id] ASC,
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_teams]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_teams](
	[id_game_team] [int] IDENTITY(1,1) NOT NULL,
	[game_id] [int] NOT NULL,
	[team_id] [int] NOT NULL,
	[side] [nvarchar](4) NULL,
	[result] [nvarchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_game_team] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_game_team] UNIQUE NONCLUSTERED 
(
	[game_id] ASC,
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[games]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[id_game] [int] IDENTITY(1,1) NOT NULL,
	[series_id] [int] NOT NULL,
	[game_number] [int] NULL,
	[patch] [varchar](10) NULL,
	[link] [nvarchar](255) NULL,
	[date_played] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_game] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_game_in_series] UNIQUE NONCLUSTERED 
(
	[series_id] ASC,
	[game_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[players]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[id_player] [int] IDENTITY(1,1) NOT NULL,
	[ingame_name] [nvarchar](50) NULL,
	[full_name] [nvarchar](100) NULL,
	[position] [nvarchar](10) NULL,
	[photo_url] [nvarchar](255) NULL,
	[birth_date] [date] NULL,
	[country] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_player] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ingame_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[series]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[series](
	[id_series] [int] IDENTITY(1,1) NOT NULL,
	[tournament_id] [int] NOT NULL,
	[team_t1_id] [int] NOT NULL,
	[team_opponent_id] [int] NOT NULL,
	[match_date] [date] NULL,
	[best_of] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_series] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_series] UNIQUE NONCLUSTERED 
(
	[tournament_id] ASC,
	[team_opponent_id] ASC,
	[match_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teams]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teams](
	[id_team] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[region] [nvarchar](20) NULL,
	[logo_url] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_team] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tournaments]    Script Date: 3/18/2026 10:13:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tournaments](
	[id_tournament] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[year] [int] NULL,
	[region] [nvarchar](20) NULL,
	[isT1winner] [nvarchar](10) NULL,
	[winner] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tournament] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tournaments_name_year] UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_bans_champion]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_bans_champion] ON [dbo].[bans]
(
	[champion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bans_team]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_bans_team] ON [dbo].[bans]
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_game_players_champion]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_game_players_champion] ON [dbo].[game_players]
(
	[champion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_game_players_player]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_game_players_player] ON [dbo].[game_players]
(
	[player_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_game_teams_result]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_game_teams_result] ON [dbo].[game_teams]
(
	[result] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_game_teams_team]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_game_teams_team] ON [dbo].[game_teams]
(
	[team_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_games_date]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_games_date] ON [dbo].[games]
(
	[date_played] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_games_patch]    Script Date: 3/18/2026 10:13:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_games_patch] ON [dbo].[games]
(
	[patch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[series] ADD  DEFAULT ((3)) FOR [best_of]
GO
ALTER TABLE [dbo].[tournaments] ADD  DEFAULT ('KR') FOR [region]
GO
ALTER TABLE [dbo].[bans]  WITH CHECK ADD  CONSTRAINT [FK_bans_champion] FOREIGN KEY([champion_id])
REFERENCES [dbo].[champions] ([id_champion])
GO
ALTER TABLE [dbo].[bans] CHECK CONSTRAINT [FK_bans_champion]
GO
ALTER TABLE [dbo].[bans]  WITH CHECK ADD  CONSTRAINT [FK_bans_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id_game])
GO
ALTER TABLE [dbo].[bans] CHECK CONSTRAINT [FK_bans_game]
GO
ALTER TABLE [dbo].[bans]  WITH CHECK ADD  CONSTRAINT [FK_bans_team] FOREIGN KEY([team_id])
REFERENCES [dbo].[teams] ([id_team])
GO
ALTER TABLE [dbo].[bans] CHECK CONSTRAINT [FK_bans_team]
GO
ALTER TABLE [dbo].[game_players]  WITH CHECK ADD  CONSTRAINT [FK_game_players_champion] FOREIGN KEY([champion_id])
REFERENCES [dbo].[champions] ([id_champion])
GO
ALTER TABLE [dbo].[game_players] CHECK CONSTRAINT [FK_game_players_champion]
GO
ALTER TABLE [dbo].[game_players]  WITH CHECK ADD  CONSTRAINT [FK_game_players_game_team] FOREIGN KEY([game_team_id])
REFERENCES [dbo].[game_teams] ([id_game_team])
GO
ALTER TABLE [dbo].[game_players] CHECK CONSTRAINT [FK_game_players_game_team]
GO
ALTER TABLE [dbo].[game_players]  WITH CHECK ADD  CONSTRAINT [FK_game_players_player] FOREIGN KEY([player_id])
REFERENCES [dbo].[players] ([id_player])
GO
ALTER TABLE [dbo].[game_players] CHECK CONSTRAINT [FK_game_players_player]
GO
ALTER TABLE [dbo].[game_teams]  WITH CHECK ADD  CONSTRAINT [FK_game_teams_game] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id_game])
GO
ALTER TABLE [dbo].[game_teams] CHECK CONSTRAINT [FK_game_teams_game]
GO
ALTER TABLE [dbo].[game_teams]  WITH CHECK ADD  CONSTRAINT [FK_game_teams_team] FOREIGN KEY([team_id])
REFERENCES [dbo].[teams] ([id_team])
GO
ALTER TABLE [dbo].[game_teams] CHECK CONSTRAINT [FK_game_teams_team]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [FK_games_series] FOREIGN KEY([series_id])
REFERENCES [dbo].[series] ([id_series])
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [FK_games_series]
GO
ALTER TABLE [dbo].[series]  WITH CHECK ADD  CONSTRAINT [FK_series_team_opponent] FOREIGN KEY([team_opponent_id])
REFERENCES [dbo].[teams] ([id_team])
GO
ALTER TABLE [dbo].[series] CHECK CONSTRAINT [FK_series_team_opponent]
GO
ALTER TABLE [dbo].[series]  WITH CHECK ADD  CONSTRAINT [FK_series_team_t1] FOREIGN KEY([team_t1_id])
REFERENCES [dbo].[teams] ([id_team])
GO
ALTER TABLE [dbo].[series] CHECK CONSTRAINT [FK_series_team_t1]
GO
ALTER TABLE [dbo].[series]  WITH CHECK ADD  CONSTRAINT [FK_series_tournament] FOREIGN KEY([tournament_id])
REFERENCES [dbo].[tournaments] ([id_tournament])
GO
ALTER TABLE [dbo].[series] CHECK CONSTRAINT [FK_series_tournament]
GO
ALTER TABLE [dbo].[game_teams]  WITH CHECK ADD CHECK  (([result]='Loss' OR [result]='Win'))
GO
ALTER TABLE [dbo].[game_teams]  WITH CHECK ADD CHECK  (([side]='Red' OR [side]='Blue'))
GO
ALTER TABLE [dbo].[players]  WITH CHECK ADD CHECK  (([position]='Support' OR [position]='ADC' OR [position]='Mid' OR [position]='Jungle' OR [position]='Top'))
GO
ALTER TABLE [dbo].[tournaments]  WITH CHECK ADD CHECK  (([isT1winner]='null' OR [isT1winner]='NO' OR [isT1winner]='YES'))
GO
USE [master]
GO
