USE [master]
GO
/****** Object:  Database [T1_WebSystem]    Script Date: 18/03/2026 9:43:52 CH ******/
CREATE DATABASE [T1_WebSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'T1_WebSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER03\MSSQL\DATA\T1_WebSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'T1_WebSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER03\MSSQL\DATA\T1_WebSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [T1_WebSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [T1_WebSystem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Size] [nvarchar](max) NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderUsername] [nvarchar](max) NOT NULL,
	[ReceiverUsername] [nvarchar](max) NOT NULL,
	[MessageContent] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Size] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IngameName] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[SignatureChampion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Sizes] [nvarchar](max) NOT NULL,
	[StockQuantity] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Key] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[T1Points] [int] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVouchers]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVouchers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[VoucherId] [int] NULL,
	[Username] [nvarchar](max) NULL,
	[VoucherCode] [nvarchar](max) NULL,
	[DiscountPercent] [int] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[ExpirationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserVouchers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vouchers]    Script Date: 18/03/2026 9:43:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vouchers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[CostPoints] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[EventCode] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Vouchers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260309071950_InitialCreate', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260315160448_AddShopAndArcade', N'8.0.25')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260315162538_AddUserRole', N'8.0.25')
GO
SET IDENTITY_INSERT [dbo].[CartItems] ON 

INSERT [dbo].[CartItems] ([Id], [Username], [ProductId], [ProductName], [ImageUrl], [Price], [Quantity], [Size]) VALUES (1, N'phianh', 1, N'2025 T1 World Champions Uniform Jacket ', N'/images/products/99e837bc-c077-4373-a4da-12144be4a229_áo khoác 1.jpg', CAST(3800000.00 AS Decimal(18, 2)), 1, N'L')
SET IDENTITY_INSERT [dbo].[CartItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ChatMessages] ON 

INSERT [dbo].[ChatMessages] ([Id], [SenderUsername], [ReceiverUsername], [MessageContent], [Timestamp], [IsRead]) VALUES (1, N'nguyenphianh1401', N'Admin', N'chào shop', CAST(N'2026-03-18T20:54:17.6038198' AS DateTime2), 0)
INSERT [dbo].[ChatMessages] ([Id], [SenderUsername], [ReceiverUsername], [MessageContent], [Timestamp], [IsRead]) VALUES (2, N'Admin', N'nguyenphianh1401', N'chao nguyenphianh1401, mình đang gặp vấn đề gì cần hỗ trợ ạ', CAST(N'2026-03-18T20:58:29.3914780' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[ChatMessages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [ImageUrl], [Description], [Sizes], [StockQuantity]) VALUES (1, N'2025 T1 World Champions Uniform Jacket ', CAST(3800000 AS Decimal(18, 0)), N'/images/products/99e837bc-c077-4373-a4da-12144be4a229_áo khoác 1.jpg;/images/products/511b593c-1ec7-4c55-80c3-3d32ea63e2bd_áo khoác 2.webp;/images/products/d8b8d8c7-b6b6-46a6-80da-0fa66b67fa80_sizechartJacket.webp', N'Tên sản phẩm: Áo khoác đồng phục T1 2026 của đội tuyển Liên Minh Huyền Thoại
Chất liệu: 100% Polyester
Nhà sản xuất: WAGTI
Xuất xứ: Hàn Quốc', N'S, M, L, XL ', 10)
INSERT [dbo].[Products] ([ProductId], [ProductName], [Price], [ImageUrl], [Description], [Sizes], [StockQuantity]) VALUES (1002, N'2026 T1 Uniform Jacket', CAST(3800000 AS Decimal(18, 0)), N'/images/products/27dfa26b-ef67-4158-a2e6-2eff836adc59_1.jpg;/images/products/782aec52-50de-496e-8f5b-478d79bb1cc7_2.jpg;/images/products/002a016d-2e72-44f1-b7f4-09911aae1045_size.webp', N'Tên sản phẩm: Áo khoác đồng phục T1 2026 của đội tuyển Liên Minh Huyền Thoại
Chất liệu: 100% Polyester
Nhà sản xuất: WAGTI
Xuất xứ: Hàn Quốc', N'S, M, L, XL ', 10)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[SystemSettings] ([Key], [Value], [Description]) VALUES (N'Phí vận chuyển', N'40000', N'Phí vận chuyển mặc định (VND)')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [T1Points], [Role], [Email]) VALUES (1, N'adminweb', N'PHIANH14012005', N'adminweb', 0, N'Admin', N'')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [T1Points], [Role], [Email]) VALUES (2, N'phianh', N'PHIANH14012005', N'phianh', 20, N'User', N'')
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [FullName], [T1Points], [Role], [Email]) VALUES (3, N'nguyenphianh1401', N'GoogleLoginUser', N'phi anh nguyễn', 0, N'User', N'')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserVouchers] ON 

INSERT [dbo].[UserVouchers] ([Id], [UserId], [VoucherId], [Username], [VoucherCode], [DiscountPercent], [IsUsed], [ExpirationDate]) VALUES (1, NULL, NULL, N'phianh', N'T1VODICH25', 5, 0, CAST(N'2026-04-16T21:55:15.0359798' AS DateTime2))
INSERT [dbo].[UserVouchers] ([Id], [UserId], [VoucherId], [Username], [VoucherCode], [DiscountPercent], [IsUsed], [ExpirationDate]) VALUES (2, NULL, NULL, N'phianh', N'T1-BF56FB', 2, 0, CAST(N'2026-04-16T21:55:20.4906361' AS DateTime2))
INSERT [dbo].[UserVouchers] ([Id], [UserId], [VoucherId], [Username], [VoucherCode], [DiscountPercent], [IsUsed], [ExpirationDate]) VALUES (3, NULL, NULL, N'phianh', N'T1-1BC962', 2, 1, CAST(N'2026-04-16T21:55:32.3200290' AS DateTime2))
SET IDENTITY_INSERT [dbo].[UserVouchers] OFF
GO
SET IDENTITY_INSERT [dbo].[Vouchers] ON 

INSERT [dbo].[Vouchers] ([Id], [Title], [Description], [DiscountPercent], [CostPoints], [Quantity], [EventCode]) VALUES (1, N'Voucher Fan Mới', N'Ưu đãi nhẹ nhàng khởi động hành trình săn đồ. Áp dụng thả ga cho mọi đơn hàng nha!', 2, 1000, -1, N'')
INSERT [dbo].[Vouchers] ([Id], [Title], [Description], [DiscountPercent], [CostPoints], [Quantity], [EventCode]) VALUES (2, N'Voucher Fan Cứng', N'Xứng danh Fan cứng! Dùng mã này để sắm ngay những sản phẩm T1 cực chất với mức giá siêu hời nhé.', 3, 1500, -1, N'')
INSERT [dbo].[Vouchers] ([Id], [Title], [Description], [DiscountPercent], [CostPoints], [Quantity], [EventCode]) VALUES (3, N'Voucher Tê Con', N'Đặc quyền tối thượng cho Tê con chính hiệu! Giảm giá kịch trần, sắm đồ T1 cực ngầu không lo cạn ví.', 5, 2000, -1, N'')
SET IDENTITY_INSERT [dbo].[Vouchers] OFF
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (N'') FOR [Sizes]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[UserVouchers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [ExpirationDate]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (N'') FOR [Description]
GO
ALTER TABLE [dbo].[Vouchers] ADD  DEFAULT (N'') FOR [EventCode]
GO
USE [master]
GO
